{% block body %}

    {% for comment in comments|reverse %}
            <div class="col-3 text-center mt-3">
            <div>
                <img class="visitor-thumbnail" src="{{comment.author.picture}}" alt="visitor thumbnail">
            </div>
            <div class="row">
            <a href="/user/{{comment.author.slug}}" class="title-line text-center visitor-name mx-auto my-3">{{comment.author.firstName}} {{comment.author.lastName}}</a>
            </div>
            <div class="row justify-content-center">
            {% if comment.rating >= 1 %}
                {% for i in 0.. comment.rating - 1 %}
                    <img class="col-2 mb-3" src="{{asset('image/full-star.png')}}" alt="star notation">
                {% endfor %}
            {% endif %}
            {% if 5 - comment.rating == 0 %}
            {% else %}
            {% for i in 0 .. 5 - comment.rating -1 %}
                <img class="col-2 mb-3" src="{{asset('image/empty-star.png')}}" alt="star notation">
            {% endfor %}
            {% endif %}    
               
            </div>
            <p class="">{{comment.content | raw}}</p>
            <p> Ecris le&nbsp;{{comment.createdAt|date('d-m-Y')}}</p>
            </div>
    {% endfor %}

{% endblock %}
