{% block footer %}
    <footer>
        <div class="container">
            <div class="row justify-content-center mx-auto">
                <a class="col-3" href="{{path('Accueil')}}"><img src="{{asset('image/logo.png')}}" alt=""></a>
                <ul class="col-3 text-left">
                    
                    
                        <li class="nav-item active">
                            <a class="nav-link" href="{{path('Accueil')}}">Accueil</a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link" href="{{path('Le Park')}}">Le Park</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('Réservation')}}">Réservation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('Contact')}}">Contact</a>
                        </li>
                    
                    
                </ul>
                <p class="row align-items-end">@Slimen Metatidj</p>
            </div>
        </div>
    </footer>


















{% endblock %}
