{% block nav %}
    <nav style="" class="navbar shadow fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="col-5 col-sm-5 col-md-2 navbar-brand" href="{{path('Accueil')}}"><img class="col-12 logo mx-auto" src="{{asset('image/logo.png')}}" alt="logo Cyber Park"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav col-7 mx-auto">
                    <div class="row col-12 justify-content-left">
                    
                        <li class="col-3 nav-item active">
                            <a class="col-12 nav-link" href="{{path('Accueil')}}">Accueil</a>
                        </li>
                        <li class="col-3 nav-item active">
                             <a class="col-12 nav-link" href="{{path('Le Park')}}">Le Park</a>
                        </li>
                        <li class="col-3 nav-item active">
                            <a class="col-12 nav-link" href="{{path('Réservation')}}">Réservation</a>
                        </li>
                        <li class="col-3 nav-item active">
                            <a class="col-12 nav-link" href="{{path('Contact')}}">Contact</a>
                        </li>
                    </div>
                </ul>

                    {% if app.user %}
                        <div class="row nav-item active col-2 justify-content-around">
                            <a class="nav-link col-6" href="{{path('account_logout')}}">Déconnexion</a>
                            <a class="nav-link col-6" href="{{path('account_profile')}}">Profil</a>
                        </div>
                     {% else %}
                         <div class="row nav-item active col-2 justify-content-around">
                            <a class="nav-link col-6" href="{{path('account_login')}}">Connexion</a>
                            <a class="nav-link col-6" href="{{path('account_register')}}">S'inscrire</a>
                        </div>   
                    {% endif %}

                
            </div>
    </nav>
{% endblock %}
