<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('css/style.css')}}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% block nav %}
        {% include "nav.html.twig" %}
    {% endblock %}
        
    {% block body %}      
    {% endblock %}

    {% block footer %}
        {% include "footer.html.twig" %}
    {% endblock %}

        {% block javascripts %}{% endblock %}
            <script src="{{asset('js/jquery.min.js')}}"></script>
            <script src="{{asset('js/popper.min.js')}}"></script>
            <script src="{{asset('js/bootstrap.min.js')}}"></script>
    </body>
</html>
